:root {
    --mauve: rgb(85, 70, 70);
    --light-mauve: rgb(112, 92, 92);
    --pink: rgb(213, 180, 180);
    --faded-pink: rgb(228, 208, 208);
    --lightest-pink: rgb(245, 235, 235);
    --transparent-mauve: rgb(151, 130, 130);
    --accent: rgb(255, 193, 100);
}