#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 10%;
    min-height: 100vh;
    line-height: 1.5;
}

.Typewriter {
    color: var(--lightest-pink);
    font-size: 86px;
    font-family: 'NTR';
}

.Typewriter__cursor {
  font-size: 80px;
  color: var(--accent);
  font-family: arial;
  padding-left: 4px;
}

#intro-name {
  font-weight: bold;
  color: var(--accent);
  font-size: 86px;
}

.intro-subtitle {
    margin-top: -36px;
    font-family: "NTR", sans-serif;
    color: var(--faded-pink);
    font-weight: 300;
    font-size: 48px;
}

.intro-desc {
    color: var(--faded-pink);
    font-family: "NTR", sans-serif;
    font-size: 22px;
    max-width: 40%;
    text-align: justify;
    padding-bottom: 50px;
}

.intro-contact {
    font-family: "NTR", sans-serif;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--accent);
    border-radius: 4px;
}

.intro-contact:hover {
    background-color: var(--transparent-mauve);
}

#envelope {
    vertical-align: middle;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {  
    #intro {
      min-height: unset;
      padding-left: unset;
      margin: 0;
      align-items: center;
    }
  
    .Typewriter {
      font-size: 46px;
    }

    .Typewriter__cursor {
      font-size: 40px;
    }

    #intro-name {
      font-size: 46px;
    }

    .intro-subtitle {
      margin: 0;
      font-size: 28px;
      text-align: center;
    }
  
    .intro-desc {
      font-size: 18px;
      text-align: center;
      max-width: unset;
      padding-bottom: 40px;
    }
  
    .intro-contact {
      font-size: 16px;
      align-self: center;
      align-items: center;
    }
  }