@font-face {
  font-family: "NTR";
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/NTR-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

.App {
  background-color: var(--mauve);
  display: flex;
  flex-direction: row;
}

#content {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

::selection {
  background-color: var(--transparent-mauve);
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 7%;
  line-height: 1.5;
}

.section-header {
  display: flex;
  padding-bottom: 42px;
  width: 100vw;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 39px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--light-mauve);
}

.section-title {
  font-family: "NTR", sans-serif;
  color: var(--lightest-pink);
  font-size: 46px;
  font-weight: bold;
}

.section-content {
  color: var(--faded-pink);
  font-family: "NTR", sans-serif;
  font-size: 22px;
  max-width: 40%;
  text-align: justify;
}